body {
  background-color: #eaeaea;
}

.ui.fixed.menu {
  background-image: linear-gradient(135deg,
      rgb(24, 42, 115) 0%,
      rgb(33, 138, 174) 69%,
      rgb(32, 167, 172) 89%);
}

.ui.main.container {
  padding-top: 5.2em;
  padding-bottom: 2rem;
  min-height: 100vh;
}


/*home page styles*/
.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(135deg,
      rgb(24, 42, 115) 0%,
      rgb(33, 138, 174) 69%,
      rgb(32, 167, 172) 89%) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* .footer.segment {
  padding: 5em 0;
} */

.secondary.inverted.pointing.menu {
  border: none;
}

/*end home page styles*/

/* navbar styles */
.ui.menu {
  border-radius: 0;
}

.ui.wide.left.sidebar {
  width: 50% !important;
}

.ui.menu .item img.logo {
  margin-right: 1em;
}

.ui.fixed.menu,
.ui.inverted.menu {
  background-image: linear-gradient(135deg,
      rgb(24, 42, 115) 0%,
      rgb(33, 138, 174) 69%,
      rgb(32, 167, 172) 89%) !important;
}

.ui.main.container,
.main.segment {
  padding-top: 5.2em;
  padding-bottom: 2rem;
  min-height: 100vh;
}

.ui.center.aligned.segment.attendance-preview {
  background-color: #f5f5f5;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.ui.menu .item>img:not(.ui) {
  margin-right: 0.5rem !important;
}

.ui.menu:not(.vertical) .item>.button {
  margin-left: 0.5em;
}

/*chat comments*/

.ui.comments .comment .comments {
  padding-bottom: 0 !important;
  padding-left: 2em !important;
}

/* dropzone styles */
.dropzone {
  border: dashed 3px #eee;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone--isActive {
  border: dashed 3px green;
}

/* SettingNav */
.ui.vertical.menu {
  width: auto !important;
}

/* cropper container*/
.cropper-container {
  width: auto !important;
}

/* user detailed page */
.user-detail--content {
  margin-bottom: 0 !important;
  font-size: 1rem;
  color: grey;
}

.user-detail--content strong {
  font-size: 1rem;
  color: #646363;
}

/* tab content */
.tab-content {
  border: none !important;
}

/* comment reply form */
.ui.comments .reply.form textarea {
  font-size: 1em;
  height: 4.5rem !important;
}

/* user photos button */
.ui.green.label,
.ui.green.labels .label,
.ui.red.label,
.ui.red.labels .label {
  cursor: pointer;
}